<div id="footer" class="container-fluid text-white text-center mt-0 mx-0 mb-0 pt-3" style="width: 100%; height: auto; position: absolute;">
    <div class="container pt-5">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <h4 >Costumer Services</h4>
          <ul class="text-center px-0 pt-3">
            <li class="mx-auto">
              <a href="/">Gift cards</a>
            </li>
            <li class="mx-auto">
              <a href="/">Payment Methods</a>
            </li>
            <li class="mx-auto">
              <a href="/">Legal Notice</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <h4 >Contact Information</h4>
              <p>Tel: +(234)80-xxx-xxx-xx</p>
              <p>Email: <a href="/">spycestudios@gmail.com</a></p>
              <p><span><a href="/" class="p-2 facebook"><fa-icon class="font-awesome" [icon]="icons.facebook"></fa-icon></a>
                <a href="/" class="p-2 twitter "><fa-icon class="font-awesome" [icon]="icons.twitter"></fa-icon></a>
                <a href="/" class="p-2 instagram"><fa-icon class="font-awesome" [icon]="icons.instagram"></fa-icon></a>
                <a href="/" class="p-2 youtube"><fa-icon class="font-awesome" [icon]="icons.youtube"></fa-icon></a>
              </span></p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <h4 >Subscribe To Our Newsletter</h4>
          <p class="pt-3">Subscribe to our weekly newsletter and receive information about the latest Products!</p>
          <div class="subscribe  mb-3">
            <input type="email" placeholder="Enter your email here">
              <span class="btn envelope"><fa-icon class="font-awesome" [icon]="icons.send"></fa-icon></span>
          </div>
        </div>
      </div>
    </div>
    <hr style="color: white;">
    <a href="" class="text-center text-secondary">&copy;<span style="font-size: small;" >Decema Group 2020</span></a>


</div>