<div>
    <section class="container-fluid p-0 home">
        <div class="front text-center">
            <div class="front-group">
                <h1 class="front-heading">World Class Beats</h1>
                <p class="front-text">Find incredible beats and collaborate with a world class 
                producer for your next project
                </p>
                <button class="beat-store-button">Beat Store</button>
            </div>
        </div>

        <div class="row front2">
            <div class="col-lg-12 front-image">
            </div>
        </div>

    </section>

    <section class="section1">

        <!-- <div class="my-carousel">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <span class="new-track text-center">New</span>
                            <img src="../../../assets/images/IMG_20141109_090419-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Track title</h5>
                                <small class="card-text"></small>
                                <button type="button" class="btn btn-outline-danger">Price</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <span class="new-track text-center">New</span>
                            <img src="../../../assets/images/IMG_20141109_090419-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Track title</h5>
                                <small class="card-text"></small>
                                <button type="button" class="btn btn-outline-danger">Price</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <span class="new-track text-center">New</span>
                            <img src="../../../assets/images/IMG_20141109_090419-1.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">Track title</h5>
                                <small class="card-text"></small>
                                <button type="button" class="btn btn-outline-danger">Price</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div> -->

    </section>
</div>