.search{
    position: fixed;
    top: 1.7%;
    left: auto;
    right: 50%;
    vertical-align: middle;
    align-content: center;
    z-index: 2;
}
@media (max-width: 767px) {
    .search{
        right: 24%;
        top: 2.2%;
    }
}
.navbar {    
    color: #fff;
    background-color: #080808;
    border-bottom: solid .7px rgb(59, 59, 59);
}
.nav-link:hover {
    color: red !important;
}
.dropdown-menu {
    background-color: #080808;
    border: #fff solid .6px;
    border-radius: 7px;
    z-index: 1000;
}
.dropdown-item {
    color: white;
    font-size: small;
}
.dropdown-item:hover {
    color: red;
    background-color: transparent;
}