* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Poppins,Roboto,"Helvetica Neue",sans-serif;
    letter-spacing: .2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#search-component {
    /* width: calc(100% - 32px); */
    /* height: 36px; */
    border-radius: 18px;
    background-color: #2a2a2a;
    opacity: 1;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#search-box {
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    font-size: 13px;
    color: #fff;
    border: none;
    background: 0 0;
}
.search-result {
    padding: 3px 5px 0px 15px;
}
.title {
    font-size: 9pt;
    font-weight: bold;
}
.meta {
    font-size: 6pt;
    font-weight: lighter;
}
.close-icon {
    margin-right: 5px;
}